/* root */
.yellow{
    color: rgb(243, 207, 46);;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1{
    font-weight: 900;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    width: 100%;

}
a{
    font-weight: 700;
    color: white !important;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3.5rem;
    }
    .hero{
        background-image: url('../assets/plate.png'),url('../assets/herobackground.svg');
        background-repeat: no-repeat,no-repeat;
        background-position: 80% 40%, 100% 0px;
        z-index: -1;

    }
    .quote{
        height: 80vh;
    }
}
@media (max-width:991px) {
    .hero{
        background-image: url('../assets/plate.png');
        background-position: 100% 40%;
        background-repeat: no-repeat; 
        height: 60vh;
    }
     
}
.hero{
    /* background-image: url('../assets/plate.png'); */
    /* background-position: 100% 40%;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    
    z-index: -1;
}
.quote{
    display: flex;
    flex-basis: auto;
    width: 50%;
    height: 80vh;
    font-size: 32px;
    font-weight: 700;
    padding-left: 3.5rem;
    align-items: center;
}
.quote-text p{
   font-weight: 600;
   font-family: serif;
   font-size: 18px;
   line-height: 1.2rem;
   letter-spacing: .05rem;
}
.card-img-top{
    /* border-radius: 4rem; */
}
.card:hover{
    border: none;
    box-shadow: 0px 1px 18px 1px;
    transition: all 0.5s ease-out;
    /* border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem; */
}

/* .color-white{
    color: #fffdfd;
}

header{
    display: flex;
    padding: .75rem;
    align-items: center;
}
img {
    width:85px;
}

.navigation-links ul{
    list-style: none;
}

.nav-bar{
    display: flex;
    align-items: center;
}
.nav-item{
    padding: .75rem;
    font-size: 16px;
    color: #f7f2f2;
    font-weight: 600;
    margin-right: 3rem;
}

.brand-logo{
    flex-basis: 50%;padding: 1rem;
    padding-left: 3rem;
}

.quote{
    display: flex;
    flex-basis: auto;
    height: 80vh;
    font-size: 32px;
    font-weight: 600;
    padding-left: 3.5rem;
    align-items: center;
}


.hero{
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    background-image: url('../assets/plate.png'),url('../assets/herobackground.svg');
    background-position: 80% 40%, 100% 0px;
    background-repeat: no-repeat,no-repeat;
    z-index: -1;
}


.foods{
    position: relative;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(rgb(255, 255, 255),#e6e8eb);
} */
.foods{
    padding: 1rem;
    background-color: #f3f3f3;
}
@media (min-width: 992px){
    .foods{
        padding: 3rem;
    }
}


/* foooter */
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#09223b;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
/* end footer */
